@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

.App {
  background-color: #ccccff
}


.AppHeader {
  background-color: #282c34;
}

.startButton {
  font-size: 7.5em;
  background-color: #ffffcc;
  font-family: 'Annie Use Your Telescope';
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50%;
  padding: 50px;
}
.startButton:hover {
  background-color: #4CAF50;
  color: white;
}

.addWorkTime {
  font-size: 5em;
  background-color: #6666ff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
}
.addWorkTime:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}


.subWorkTime {
  font-size: 5em;
  background-color: #ff751a;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
}

.subWorkTime:hover {
  background-color: #ff3300;
  color: white;
}

.addBreakTime {
  font-size: 5em;
  background-color: #6666ff;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
}

.addBreakTime:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.subBreakTime {
  font-size: 5em;
  background-color: #ff751a;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
}

.subBreakTime:hover {
  background-color: #ff3300; /* Green */
  color: white;
}

.span {
  font-size: 5em;
}

.buttonInstructions {
  font-size: 2em;
  font-family: 'Annie Use Your Telescope'
}
