@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope');

.App {
  background-color:  #ccccff
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.AppHeader {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-size: 7.5em;
  background-color: #ffffcc;
  font-family: 'Annie Use Your Telescope';
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
